<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/prod.css" class="">
</head>
<body>
    {{>header}}

    <div class="main" >
    {{#each product}}
<div class="box">
<div class="img"><img src="/avator?id={{this._id}}" ></div>
<h1>{{this.name}}</h1>
<p>{{this.disc}}</p>
<h4>Rs. {{this.price}}</h4>

<a href="/cart?id={{this.id}}" ><button>Add to Cart</button></a>
</div>

    {{/each}}
    </div>
</body>
</html>